.footer {
  text-align: center;
  width: 100%;
  margin-bottom: 4rem;
}

.copyright,
.copyright:visited {
  color: $color-silver;
  font-family: $heading-font;
  font-size: 0.9em;

  &:hover,
  &:active,
  &:focus {
    color: $color-silver;
    text-decoration: underline;
  }
}

.dark .copyright,
.dark .copyright:visited  {
  color: darken($color-silver, 35%);

  &:hover,
  &:active,
  &:focus {
    color: darken($color-silver, 35%);
  }
}
