html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
