$header-height: 7rem;

.header--container {
  height: $header-height;
}

.header {
  background-color: $color-white;
  border-bottom: 3px solid darken($color-cloud, 2.5%);
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.2s ease;
  z-index: 999;

  .container {
    max-width: 100%;
  }

  &.is-hidden {
    top: - ( $header-height );
  }
}

.header--tools {
  color: darken($color-silver, 10%);
  float: right;
  margin-top: 2.2rem;

  .dark-mode-switch {
    font-size: 2.2rem;
    margin-left: 0.2rem;
    position: relative;
    top: 0.2rem;

    &:hover{
      cursor: pointer;
    }
  }
}

.header--title {
  color: $color-midnight;
  display: inline-block;
  font-size: 3rem;
  font-family: $logo-font;
  height: $header-height;
  line-height: $header-height;

  margin: 0;

  &:before {
    color: $color-blue;
    content: '</>';
    font-weight: bolder;
    margin-right: 0.3rem;
  }

  &:hover {
    color: lighten($color-midnight, 5%);
  }
}

.dark {
  .header {
    background-color: $color-dark;
    border-bottom: 3px solid lighten($color-dark, 10%);
  }

  .header--title {
    color: $color-cloud;
  }
}
