.post-list {
  padding-top: 3rem;
}

.post-list--item {
  @include clearfix;

  display: flex;
  margin-bottom: 6rem;

  .meta-data {
    margin: -1.2rem 0 1.5rem 0;
  }
}

.post-list--item-image {
  @include background-img($color-midnight);

  height: 20rem;
  float: left;
  margin: 0 3rem 0 0;
  min-width: 24rem;
}

.post-list--item-title a,
.post-list--item-title a:visited {
  font-size: 2rem;
  color: $color-midnight;

  &:hover,
  &:active,
  &:focus {
    color: $color-midnight;
    text-decoration: underline;
  }
}

.post-list--item-excerpt {
  p {
    font-size: 0.9em;
    margin-bottom: 1.5rem;
  }

  strong {
    font-weight: normal;
  }
}

.post-list--item.alt-heading {
  display: block;

  .post-list--item-image {
    height: 30rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}
