.post {
  overflow-x: hidden;
}

.post--content,
.post--comments,
.post--related {
  margin-bottom: 3rem;
  max-width: 100%;
  overflow: hidden;
}

.post--heading {
  @include background-img($color-midnight);

  height: 42rem;
  margin-bottom: 6rem;
  position: relative;
  width: 100%;

  .container {
    height: 100%;
  }
}

.post--heading-overlay {
  background-color: darken($color-asphalt, 5%);
  bottom: 0;
  opacity: 0.2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: opacity 0.1s;
}

.post--heading-content {
  bottom: 1.5rem;
  color: $color-white;
  display: block;
  line-height: 1.3;
  position: absolute;
  width: 100%;
}

.post--title {
  color: $color-white;
  font-size: 3.1rem;
  margin: 0 0 2rem;
  max-width: 80%;
}

.post--share {
  border-top: 1px solid lighten($color-silver, 5%);
  margin-bottom: 3rem;
  padding: 1.6rem 0;
  text-align: right;
}

.post--share-icon,
.post--share-icon:visited {
  font-size: 3rem;
  margin-right: 0.5rem;
}

&.alt-small .post--content {
  font-size: 90%;
}

&.alt-large .post--content {
  font-size: 110%;
}

@media only screen and (min-width: $screen-M) {
  .post--heading {
    height: 50rem;
  }
}
