.post-list {
  padding-top: 3rem;
}

.post-list--item {
  margin-bottom: 7rem;

  .meta-data {
    margin: -1.2rem 0 1.5rem 0;
  }
}

.post-list--item-image {
  @include background-img($color-midnight);

  height: 22rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.post-list--item-title {
  margin-bottom: 0.5em;

  a,
  a:visited {
    color: $color-asphalt;

    &:hover,
    &:active,
    &:focus {
      color: $color-asphalt;
      text-decoration: underline;
    }
  }
}

.post-list--item-excerpt {
  p {
    margin-bottom: 1em;
  }

  strong {
    font-weight: normal;
  }
}

.alt-headline.post-list--item ,
.alt-sub-headline.post-list--item {
  display: block;

  .post-list--item-image {
    height: 30rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

@media only screen and (min-width: $screen-M) {
  .post-list--item {
    @include clearfix;

    display: flex;
  }

  .post-list--item-image {
    @include background-img($color-midnight);

    float: left;
    margin: 0 3rem 0 0;
    min-width: 24rem;
    width: 24rem;
  }

  .alt-sub-headline.post-list--item  {
    clear: none;
    float: left;
    margin-right: 4%;
    width: 48%;

    &:nth-child(odd) {
      margin-right: 0;
    }

    .post-list--item-image {
      height: 30rem;
    }
  }
}

.dark {
  .post-list--item-title {
    a,
    a:visited {
      color: darken($color-silver, 5%);

      &:hover,
      &:active,
      &:focus {
        color: darken($color-silver, 5%);
      }
    }
  }
}
