.tag-list {
  padding: 0;
  margin: 0;
}

.tag-list-item {
  background-color: $color-blue;
  display: inline-block;
  font-family: $heading-font;
  margin: 0 1rem 0.5rem 0;
  padding: 0 0.8rem;
  line-height: 1.4;

  &:hover {
    background-color: lighten($color-blue, 5%);
  }
}

.tag-list-link,
.tag-list-link:visited {
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.post-list--item {
  .tag-list-item {
    background-color: $color-silver;

    &:hover {
      background-color: lighten($color-silver, 5%);
    }
  }
}
