.tag-list {
  padding: 0;
  margin: 0;
}

.tag-list-item {
  background-color: $color-blue;
  display: inline-block;
  font-family: $heading-font;
  margin-right: 1rem;
  padding: 0.1rem 0.8rem;

  &:hover {
    background-color: lighten($color-blue, 5%);
  }
}

.tag-list-link,
.tag-list-link:visited {
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.post--heading {
  .tag-list {
    bottom: 2rem;
    position: absolute;
  }
}

.post-list--item {
  .tag-list-item {
    background-color: $color-silver;

    &:hover {
      background-color: lighten($color-silver, 5%);
    }
  }
}
