.tools {
  float: right;
  padding-top: 1rem;
}

.tools--font-small,
.tools--font-medium,
.tools--font-large {
  background: transparent;
  box-shadow: 0;
  border: 0;
  color: darken($color-silver, 5%);
  margin: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.tools--font-small {
  font-size: 0.8em;
}

.tools--font-medium {
  font-size: 1em;
}

.tools--font-large {
  font-size: 1.2em;
}

.is-active {
  color: $color-text;
}

.dark {
  .tools--font-small,
  .tools--font-medium,
  .tools--font-large {
    color: darken($color-silver, 25%);
  }

  .is-active {
    color: $color-cloud;
  }
}
