@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol.woff);
}

@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol-italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol-bold.woff);
    font-weight: bold;
}

$base-font: Helvetica, Arial, sans-serif;
$text-font: 'Merriweather', $base-font;
$logo-font: 'Bariol', $base-font;
$heading-font: 'Ubuntu', $base-font;
