  <p class="copyright">&copy; Niels Gerritsen <span id="copyright-year">2015</span></p>
  
  <script id="dsq-count-scr" src="//wecodetheweb.disqus.com/count.js" async></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="<%= url_for('js/bundle.js') %>"></script>
</body>
</html>
