
<header class="header<%= is_post() ? ' alt-on-post' : '' %>">
  <div class="container">
    <a title="home" href="/">
      <h1 class="header--title">
        wecodetheweb
      </h1>
    </a>
  </div>
</header>
