<div class="header--container">
  <header class="header">
    <div class="container">
      <a title="home" href="/">
        <h1 class="header--title">
          wecodetheweb
        </h1>
      </a>
    </div>
  </header>
</div>
