<header class="header<%= is_post() ? ' alt-on-post' : '' %>">
  <div class="container">
    <a title="Homepage" href="/">
      <h1 class="header--title">
        <%= config.title %>
      </h1>
    </a>
  </div>
</header>
