<div class="header--container">
  <header class="header">
    <div class="container">
      <div class="header--tools">
        Dark 
        <i class="fa fa-toggle-off dark-mode-switch" id="dark-mode-switch"></i>
      </div>

      <a title="home" href="/">
        <h1 class="header--title">
          wecodetheweb
        </h1>
      </a>
    </div>
  </header>
</div>
