<p class="meta-data">
  <img class="meta-data--avatar" height="50px" width="50px" alt="User avatar" src="<%= url_for('img/ava.jpg') %>">
  Niels Gerritsen

  <a href="https://twitter.com/NielsG89" title="Niels Gerritsen's Twitter" class="meta-data--link" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  &nbsp;&middot;&nbsp;

  <span class="meta-data--date-small"><%= post.date.format('ll') %></span>
  <span class="meta-data--date-large"><%= post.date.format('LL') %></span>
</p>
