<div class="tools">
  <button name="Small text" class="tools--font-small">
    <i class="fa fa-font"></i>
  </button>
  
  <button name="Medium text" class="tools--font-medium is-active">
    <i class="fa fa-font"></i>
  </button>

  <button name="Large text" class="tools--font-large">
    <i class="fa fa-font"></i>
  </button>
</div>
